{% extends "profiles/base.html" %}
{% load i18n %}
{% block content %}
<div class="container content" ng-app="ProfileApp">

	<h1>Profiles</h1>
	<div ng-controller="AppController">
		<div class="panel" ng-repeat="post in posts">
		{%verbatim%}
			<h3 class="panel-title">{{ post.title }} <small>{{ post.author.username }}</small></h3>
			<p class="well">{{ post.body }}</p>
		{%endverbatim%}
		</div>
	</div>

</div>

{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
