{% extends "profiles/base.html" %}
{% block page_class %}page-profile{% endblock %}
{% block section_class %}section-profile{% endblock %}
{% load i18n %}
{% block content %}
<div class="strip">
    <div class="row">
        <div class="column small-12">
            <a class="button right" href="{% url 'profiles:edit' user.id %}">Edit Skillsets</a>
            <ul class="skillsets skillsets--added">
                <li><a class="badge empty" href="#">Add Skillset</a></li>
            </ul>
        </div>
    </div>
</div>
<h1>Poop</h1>
<div id="container"></div>
<div class="row">
    <div class="column small-12">
            <div id="tshape" class="tshape tshape--fixed">
                <div class="tshape__header">
                    <h2 class="tshape__role">UI Engineer</h2>
                    <h3 class="tshape__user">Robert Austin</h3>
                    <div class="tshape__badges">
                        <span class="tshape__github"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                        <span class="tshape__linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="tshape__middle">
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Marketing</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Copywriting</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Photography</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Illustration</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Visual Design</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">UX</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">HTML</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset tshape__skillset--middle">
                        <div class="tshape__skillset-heading">CSS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">jQuery</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Javascript</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Node.js</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">PHP</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Ruby</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Python</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">AWS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Git</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Linux</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                </div>
                <div class="tshape__panels">
                    <!--<div class="tshape__panel&#45;&#45;right">-->
                        <!--<a href="#">right</a>-->
                    <!--</div>-->
                    <!--<div class="tshape__panel&#45;&#45;left">-->
                        <!--<a href="#">left</a>-->
                    <!--</div>-->
                    <div class="tshape__panel--middle">
                        <a id="show-all-skillsets" class="button" href="#">Show all SkillSets</a>
                        <a id="show-core-skillsets" class="button" href="#">Show core SkillSets</a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
