{% extends "profiles/base.html" %}
{% block page_class %}page-profile{% endblock %}
{% block section_class %}section-profile{% endblock %}
{% load i18n %}
{% block content %}
<div class="strip">
    <div class="row">
        <div class="column small-12">
            <a class="button right" href="{% url 'profiles:edit' user.id %}">Edit Skillsets</a>
            <ul class="skillsets skillsets--added">
                <li><a class="badge empty" href="#">Add Skillset</a></li>
            </ul>
        </div>
    </div>
</div>
<h1>React</h1>
<h2>{{user.id}}</h2>

<div class="row">
    <div class="column small-12">
        <div id="tshape">
        </div>
    </div>
</div>

<div class="row">
    <div class="column small-12">
        <div id="tshape-skillset-form">
        </div>
    </div>
</div>



</div>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
