{% extends "base.html" %}
{% block page_class %}page-profile-new{% endblock %}
{% block section_class %}section-profile{% endblock %}
{% load i18n %}
{% block content %}
<div class="row ">
	<div class="column small-12">
		<h2 style="text-align: center; margin-top: 40px;">Hi, let's create your first Tshape.</h2>
		<div class="new-profile">
			<a href="/profile/skillsets/">Create Profile</a>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create" />
            </form>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
