[run]
omit =
    .git
    .tox/*
    _build/*
    _templates/*
    design/*
    doc/*
    env/*
    tmp/*
    */migrations/*
    */static/*
    */templates/*
    __pycache__/*
    *.pyc
branch = True

[report]
precision = 2
show_missing = True
