Django
psycopg2
tox
ipython
fake-factory
django-extensions
python-dotenv
graphene_django
django-filter
djangorestframework
drf-nested-routers
Sphinx
django-template-repl
dj-database-url
gunicorn
whitenoise
