<div class="header">
    <div class="row">
        <div class="column small-12">
            <div class="logo__image"><a href="/">TShape</a></div>
            <ul class="menu">
                {% if profile_id %}
                    <li><a href="{% url 'profiles:detail' profile_id %}">Profile</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    {{ user }}
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div>

</div>
