{% extends "base.html" %}
{% load staticfiles %}
{% block page_class %}page-homepage{% endblock %}
{% block section_class %}section-hompage{% endblock %}
{% load i18n %}
{% block content %}
<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout">Tshape provides a standardised scale to rate and compare your skills.</h1>
            <img src="{% static 'images/tshape.png' %}">
        </div>
        
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">Report and compare your skills objectively.</h1>
            <h2 class="callout callout--sub">Tshape SSD’s (Standardized Skillset Definations) create a non-arbitray rating scale from 1 - 10. </h2>
            <img src="{% static 'images/ssd.png' %}">
        </div>
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">How do you stack up?</h1>
            <h2 class="callout callout--sub">Compare your profile to other's with relevant roles.</h2>
            <img src="{% static 'images/compare.png' %}">
        </div>
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding strip--white">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout">Create a Tshape, It's Free.</h1>
        </div>
        <div class="column small-12">
         {% if user.is_authenticated %}
            {% elif user %}
                <a class="button large center" href="{% url 'signup' %}">Create My TShape</a>
            {% else %}
                <a class="button large center" href="{% url 'login' %}">Create My TShape</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
