{% extends "base.html" %}
{% load staticfiles %}
{% block page_class %}page-homepage{% endblock %}
{% block section_class %}section-hompage{% endblock %}
{% load i18n %}
{% block content %}
<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout">Highlight your skills, strengths and weaknesses</h1>
            <img src="{% static 'images/tshape.png' %}">
        </div>
        
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">Rate your skills objectively</h1>
            <h2 class="callout callout--sub">Tshape SSD’s (Standardized Skillset Definitions) create a non-arbitrary rating scale from 1 - 10.</h2>
            <img src="{% static 'images/ssd.png' %}">
        </div>
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">Compare your profile</h1>
            <h2 class="callout callout--sub">What's the average skill level for people with similar job titles?</h2>
            <img src="{% static 'images/compare.png' %}">
        </div>
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding strip--white">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout">Create a Tshape, It's Free.</h1>
        </div>
        <div class="column small-12">
            <a class="button large center" href="{% url 'signup' %}">Create an Account</a>
        </div>
    </div>
</div>

{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
