{% extends "base.html" %}
{% load staticfiles %}
{% block page_class %}page-homepage{% endblock %}
{% block section_class %}section-hompage{% endblock %}
{% load i18n %}
{% block content %}
<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">Tshape - Your Skill Profile</h1>
            <h2 class="callout callout--sub">Showcase and compare your unique skills. Find a job that's a fit for <strong>you</strong>, not your job title.</h2>
            
        </div>  
        <div class="column small-12 medium-6">
            <img class="callout__image rob-image" src="{% static 'images/rob-noborder.png' %}">
        </div>
        <div class="column small-12 medium-6">
            <img class="callout__image angie-image" src="{% static 'images/angie-noborder.png' %}">
        </div>
        
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">Assess Your Skills Objectively & Quickly</h1>
            <h2 class="callout callout--sub">Tshape standard skillset definitions create a non-arbitrary rating scale from 1 - 10. <br>Tick the skills you have, everyone uses the same scale.</h2>
            <img class="callout__image ssd-image" src="{% static 'images/javascript-ssd.png' %}">
        </div>
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout callout--no-margin">Compare Your Skills To The Community</h1>
            <h2 class="callout callout--sub">We anonymously aggregate and search similar profiles, so you can compare your skills against others.</h2>
            <img class="callout__image compare-image" src="{% static 'images/compare.png' %}">
        </div>
    </div>
</div>

<div class="strip strip--pinline strip--center strip--padding strip--white">
    <div class="row ">
        <div class="column small-12">
            <h1 class="callout">Create a Tshape, It's Free.</h1>
        </div>
        <div class="column small-12">
            <a class="button large center" href="{% url 'signup' %}">Create an Account</a>
        </div>
    </div>
</div>

{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
