

<div class="strip__slider">
    <div class="column small-12">
        <div class="slider">
            <div class="tshape">
                <div class="tshape__header">
                    <h2 class="tshape__role">UI Engineer</h2>
                    <h3 class="tshape__user">Robert Austin</h3>
                    <div class="tshape__badges">
                        <span class="tshape__github"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                        <span class="tshape__linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="tshape__middle">
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Illustration</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Visual Design</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">UX</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">HTML</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">CSS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">jQuery</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Javascript</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Node.js</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">PHP</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Ruby</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                </div>
            </div>
            <div class="tshape">
                <div class="tshape__header">
                    <h2 class="tshape__role">UI Engineer</h2>
                    <h3 class="tshape__user">Robert Austin</h3>
                    <div class="tshape__badges">
                        <span class="tshape__github"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                        <span class="tshape__linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="tshape__middle">
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Illustration</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Visual Design</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">UX</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">HTML</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">CSS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">jQuery</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Javascript</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Node.js</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">PHP</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Ruby</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                </div>
            </div>
            <div class="tshape">
                <div class="tshape__header">
                    <h2 class="tshape__role">UI Engineer</h2>
                    <h3 class="tshape__user">Robert Austin</h3>
                    <div class="tshape__badges">
                        <span class="tshape__github"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                        <span class="tshape__linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="tshape__middle">
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Illustration</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Visual Design</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">UX</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">HTML</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">CSS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">jQuery</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Javascript</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Node.js</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">PHP</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Ruby</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                </div>
            </div>
            <div class="tshape">
                <div class="tshape__header">
                    <h2 class="tshape__role">UI Engineer</h2>
                    <h3 class="tshape__user">Robert Austin</h3>
                    <div class="tshape__badges">
                        <span class="tshape__github"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                        <span class="tshape__linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="tshape__middle">
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Illustration</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Visual Design</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">UX</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">HTML</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">CSS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">jQuery</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Javascript</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Node.js</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">PHP</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Ruby</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                </div>
            </div>
            <div class="tshape">
                <div class="tshape__header">
                    <h2 class="tshape__role">UI Engineer</h2>
                    <h3 class="tshape__user">Robert Austin</h3>
                    <div class="tshape__badges">
                        <span class="tshape__github"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                        <span class="tshape__linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                    </div>
                </div>
                <div class="tshape__middle">
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Illustration</div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Visual Design</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">UX</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">HTML</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">CSS</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">jQuery</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Javascript</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Node.js</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">PHP</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                    <div class="tshape__skillset">
                        <div class="tshape__skillset-heading">Ruby</div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                        <div class="tshape__skill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>