{% extends "base.html" %}
{% load staticfiles %}
{% block page_class %}page-signup{% endblock %}
{% block section_class %}section-signup{% endblock %}

{% block content %}
    <div class="signup">
    <h2>Edit User Information</h2>
    {% if form.errors %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'users:edit' user.username %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
    <a href="{% url 'passwords:change_password' %}">Change Password</a>
    </div>

{% endblock %}
