// ==========================================================================
// Header
// ==========================================================================
$header-height: 58px;

.header {
  background-color: #DEE0DD;
  min-height: $header-height;
  width: 100%;
  border-bottom: 1px solid #CCC;
}
.header--fixed {
  z-index: 50;
  position: fixed;
  top: 0;
}

body.body-header-fixed {
  margin-top: $header-height;
}

.header-profile {
  background-color: #FFF;
  min-height: auto;
  width: 100%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  &__heading {
    float: left;
    font-size: 20px;
    line-height: 32px;
  }
}