// Core
@import "foundation/functions";
@import "settings";
@import "reset";
@import "breakpoints";
@import "mixins";

// Foundation
@import "foundation/components/grid";
@import "foundation/components/global";

// Blocks
@import "blocks/slider";
@import "blocks/logo"; 
@import "blocks/menu";
@import "blocks/buttons";
@import "blocks/forms";  
@import "blocks/header";
@import "blocks/type";
@import "blocks/strip";
// @import "blocks/push-menu";
// @import "blocks/truncate";
// @import "blocks/tables";
// @import "blocks/panel";
// @import "blocks/well";
// @import "blocks/pattern"; 
// @import "blocks/poster";
// @import "blocks/card";
// @import "blocks/modal";
// @import "blocks/base";
// @import "blocks/hero";
// @import "blocks/caption";
// @import "blocks/index";
// @import "blocks/badge";

// Tshape
@import "tshape/skillsets";
@import "tshape/skills";
@import "tshape/tshape";
@import "tshape/tshape-horizontal";
@import "blocks/preview";
// @import "blocks/new-profile";
// @import "blocks/my-profile-heading";

// Layout
@import "pages/section-profile";
@import "pages/page-homepage";

// Modules
@import "../modules/slick/slick-theme";
@import "../modules/slick/slick";

// Font
@import url(http://fonts.googleapis.com/css?family=Lato:200,400,700|Open+Sans:400,700|Roboto:400,700);
@import "fontawesome/font-awesome";

body {
    @include display-breakpoint;
}

