// ==========================================================================
// Logo
// ==========================================================================
.logo__image {
  margin-top: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  float: left;
  width: 81px;
  height: 23px;
  img {
    display: none;
  }
  @media #{$medium-up} {
    background-image: url("../images/logo.png");
  }
  @media #{$small-only} {
    background-image: url("../images/logo.png");
  }
  a {
    color: #333;
    text-decoration: none;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
.logo--absolute {
  position: absolute;
  top: 16px;
}

.logo__text {
  margin: 10px 0 10px 0;
  float: left;
  a {
    line-height: 36px;
    font-size: 22px;
    font-weight: 400;
    font-family: $custom-font;
    text-decoration: none;
    color: #333;
  }
}
