.strip__slider {
  width: 80%;
  margin: 60px auto;
}
.slider {
  height: 500px;
  .tshape {
    opacity:0.8;
    transition:all 300ms ease;
    margin: 10px;
    padding: 40px 10px 40px 10px;
    position: relative;
    text-align: center;
  }
  .tshape.slick-center {
    -moz-transform:scale(1.08);
    -ms-transform:scale(1.08);
    -o-transform:scale(1.08);
    -webkit-transform:scale(1.08);
    color:#000;
    opacity:1;
    transform:scale(1.18);
  }
  .slick-dots {
    bottom: -70px;
  }
}


