<div class="header">
    <div class="row">
        <div class="column small-12">
            <div class="logo__image"><a href="/">TShape</a></div>
            <ul class="menu">
                <li><a href="/profile/skillsets">My TShape</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
     {{ user }}
     {% if user.is_anonymous %}
         <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
     {% else %}
         <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
     {% endif %}
</div>
