{% extends "base.html" %}
{% load staticfiles %}
{% block page_class %}page-signup{% endblock %}
{% block section_class %}section-signup{% endblock %}

{% block content %}
    <div class="signup">
    <h2>Change Password</h2>
    {% if form.errors %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'passwords:change_password' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
            </tr>
        </table>

        <input type="submit" class="button button--signup medium" value="save" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'passwords:reset_password' %}">Forgot Password</a>
    </div>

{% endblock %}
