{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <p>Please enter your email address:</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <p>{{ form.email }}</p>
        <input type="submit" value="Reset Password">
    </form>
    <p>We will send you an email with instructions for resetting your password.</p>

{% endblock content %}
