.skills {
	.skills__heading {
		font-weight: normal;
		font-size: 26px;
		span {
			// font-weight: bold;
		}
	}
	.skills__heading-myskills {
	}
	.skills__bar {

	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ol {
		// list-style: decimal;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.skills__panel--all-skills {
		padding: 20px;
		border-bottom: 1px solid #EAEAEA;
	}

	
	.skill__add-skill-form {
		input[type="submit"] {
			cursor: pointer;
			display: inline-block;
			border: 1px solid #CCCCCC;
			border-left: none;
			box-shadow: #FEFFFF 0px 1px 1px ; 
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			font-size: 13px;
			padding: 10px;
			text-decoration:none; 
			text-shadow: 0px 1px 0 rgba(255,255,255,1);
			color: #4A4A4A;
		 	background-color: #F7F5F6; 
		 	background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
		}
	}
} 


.skill__item {
	@include clearfix;
	// padding: 10px;
	// border: 1px solid #EAEAEA;
	display: block;
	font-size: 14px;
	color: #666;
	&.skill__item--tag {
		background: #EAEAEA;
		padding: 4px 7px;
		border-radius: 2px;
		border: 1px solid #CCC;
		display: block;
	}
	&.skill__item--row {
		display: block;
		margin-bottom: 5px;
		font-size: 13px;
	}
	&.skill__item--verified {
	}
	.skill__tickbox {
		background-image: url("/static/images/checkbox-empty.png");
	    width: 22px;
	    height: 22px;
	    background-size: contain;
	    display: inline-block;
	    float: left;
        margin: 12px 0 12px 0;
        opacity: 0.7;
		// padding: 10px;
		 //    float: left;
		 //    width: 44px;
		 //    cursor: pointer;
		 //    text-decoration: none;
		// &:before {
		// 	content: "\f096";
		// 	color: #666;
		// 	font-family: $font-awesome;
		// 	font-weight: 100;
		// 	font-size: 26px;
		// 	line-height: 26px;
		// 	text-decoration: none;
	 	//    }
	    &:hover {
	    	opacity: 1;
	    	&:before {
	    		color: #333;
	    	}
	    }
	}
	&.active .skill__tickbox {
		background-image: url("/static/images/checkbox-full.png");
		opacity: 1;
		&:before {
			// content: "\f046";
		}
	}
	.skill__weight {
		display: inline-block;
		border:1px solid #CCCCCC;
		border-right: none;
		box-shadow: #FEFFFF 0px 1px 1px ; 
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 5px;
		text-decoration:none; 
		text-shadow: 0px 1px 0 rgba(255,255,255,1);
		color: #4A4A4A;
	 	background-color: #F7F5F6; 
	 	background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
	}
	.skill__name {
	    padding: 10px 10px 10px 10px;
	    float: left;
	    width: calc(100% - 36px);
	    height: 46px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    line-height: 26px;
	    text-decoration: none;
	    color: #999;
	    &:hover {
	    	color: #000;
	    }
	}
	// &.inactive .skill__name {
	// 	color: #333;
	// 	&:hover {
	// 		color: #000;
	//     }
	// }
	// &.active .skill__name {
	// 	color: #999;
	// 	&:hover {
	// 		color: #000;
	//     }
	// }
	.skill__remove {
		display: inline-block;
		border: 1px solid #CCCCCC;
		border-left: none;
		box-shadow: #FEFFFF 0px 1px 1px ; 
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 5px;
		text-decoration:none; 
		text-shadow: 0px 1px 0 rgba(255,255,255,1);
		color: #4A4A4A;
	 	background-color: #F7F5F6; 
	 	background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
	}
}

.skill-info {
    // border-left: 4px solid #dedede;
    margin-top: 40px;
    // padding-left: 20px;
	.skill-info__header {
		@include clearfix;
		 // border-bottom: 1px solid #CCC;
		.skill-info__icon {
		    width: 40px;
		    height: 40px;
		    background-size: contain;
		    display: inline-block;
		    float: left;
		    margin-right: 10px;
		}
		.skill-info__skillset-name {
		   font-family: "Lato", "helvetica", "arial";
		    font-size: 16px;
		    line-height: 38px;
		    color: #333;
		    float: left;
		    margin-right: 10px;
		}
		
	}
	.skill-info__middle {
		.skill-info__weight {
		    font-family: "Lato", "helvetica", "arial";
		    font-size: 16px;
		    line-height: 30px;
		    color: #333;
		    float: left;
		    font-weight: 300;
		    border-radius: 15px;
		    width: 30px;
		    height: 30px;
	        text-align: center;
		    font-weight: 500;
		    margin: -3px 0 0 -40px
		}
	}
	.skill-info__name {

	}
}
