.skillsets {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		margin-right: 10px;
		padding: 0;
		display: inline-block;
	} 
	.skillset__item {
		&.skillset__item--tag {
			background: #EAEAEA;
			padding: 4px 7px;
			border-radius: 2px;
			border: 1px solid #CCC;
		}
	}
} 