.skillsets {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		margin-right: 10px;
		padding: 0;
		display: inline-block;
	} 
	.skillsets__panel--all-skillsets {
		margin-top: 5px;
		// padding: 20px;
		// border: 1px solid #EAEAEA;
	}
	.skillset__item {
		&.skillset__item--tag {
			display: inline-block;
			cursor: pointer;
			margin: 0 5px 5px 0;
			font-size: 13px;
		}
		&.skillset__item--text {
			display: inline-block;
			cursor: pointer;
			margin: 0 6px 7px 0;
			font-size: 13px;
			&.active {
				color: #666;
			}
			&.selected {
				// background-color: #000;
				// color: #FFF;
				// border-bottom: 1px dotted #333;
				// text-decoration: underline;
			}
		}
		.skillset__weight {
			display: none;
			// display: inline-block;
			border: 1px solid #CCCCCC;
			border-right: none;
			box-shadow: #FEFFFF 0px 1px 1px ; 
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			padding: 5px;
			text-decoration:none; 
			text-shadow: 0px 1px 0 rgba(255,255,255,1);
			color: #4A4A4A;
		 	background-color: #F7F5F6; 
		 	// background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
		}
		.skillset__id {
			display: none;
			// display: inline-block;
			border:1px solid #CCCCCC;
			border-right: none;
			box-shadow: #FEFFFF 0px 1px 1px ; 
			padding: 5px;
			text-decoration:none; 
			text-shadow: 0px 1px 0 rgba(255,255,255,1);
			color: #4A4A4A;
		 	background-color: #F7F5F6; 
		 	// background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
		}
		.skillset__name {
			display: inline-block;
			// border: 1px solid #CCCCCC;
			box-shadow: #FEFFFF 0px 1px 1px ; 
			padding: 5px 5px 5px 10px;
			text-decoration:none; 
			text-shadow: 0px 1px 0 rgba(255,255,255,1);
			color: #4A4A4A;
		 	background-color: #F7F5F6; 
		 	border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		 	// background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
		}
		.skillset__remove {
			display: inline-block;
			// border: 1px solid #CCCCCC;
			// border-left: none;
			box-shadow: #FEFFFF 0px 1px 1px ; 
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			padding: 8px 10px 7px 5px;
			text-decoration:none; 
			text-shadow: 0px 1px 0 rgba(255,255,255,1);
			color: #ababab;
		 	background-color: #F7F5F6; 
		 	// background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
		}
		// Selected State
		&.selected {
			
			.skillset__weight {
				color: #ffffff;
			    background-color: #484848;
			    background-image: linear-gradient(to bottom, #484848, #000000);
			    text-shadow: none;
			    border-color: #000;
			}
			.skillset__id {
				color: #ffffff;
			    background-color: #484848;
			    background-image: linear-gradient(to bottom, #484848, #000000);
			    text-shadow: none;
			    border-color: #000;
			}
			.skillset__name {
				color: #ffffff;
				background-color: $primary-color;
				// border-color: $primary-color;
			    // background-color: #484848;
			    // background-image: linear-gradient(to bottom, #484848, #000000);
			    // border-color: #000;
			    text-shadow: none;
			}
			.skillset__remove {
				color: #ffffff;
			    background-color: $primary-color;
			    // border-color: $primary-color;
			    // background-color: #484848;
			    // background-image: linear-gradient(to bottom, #484848, #000000);
			    // border-color: #000;
			    text-shadow: none;
			}
		}
	}
	.skillset__add-skillset-form {
		input[type="submit"] {
			cursor: pointer;
			display: inline-block;
			border: 1px solid #CCCCCC;
			border-left: none;
			box-shadow: #FEFFFF 0px 1px 1px ; 
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			font-size: 13px;
			padding: 10px;
			text-decoration:none; 
			text-shadow: 0px 1px 0 rgba(255,255,255,1);
			color: #4A4A4A;
		 	background-color: #F7F5F6; 
		 	background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);
		}
	}
} 

.add-skillset {
	display: inline-block;
	cursor: pointer;
	margin: 0 5px 5px 0;
	font-size: 13px;
	display: inline-block;
    box-shadow: #FEFFFF 0px 1px 1px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0 white;
    color: #4A4A4A;
    border-radius: 3px;
    border: 1px dotted #ccc;
}