.tshape-horizontal {
  //width: 490px;
  margin: 0 auto;
  @include clearfix;
  .tshape__header {
    text-align: center;
    margin-bottom: 100px;
  }
  .tshape__role {
    margin-bottom: 3px;
  }
  .tshape__user {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .tshape__middle {
    @include clearfix;
  }
  .tshape__skillset {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    @include clearfix;
  }
  .tshape__skillset-heading {
    float: left;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
    margin-right: 5px;
  }
  .tshape__skill {
    background: #CCC;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
  }
  .tshape__panel--middle {
    margin-top: 30px;
  }
  
  $color-1: #07EC9F;
  $color-2: #ED018D;

  $steps: 10;

  @for $i from 0 to $steps {
    .tshape__skill {
      &:nth-child(#{$i + 1}) {
        background: mix($color-1, $color-2, percentage($i / ($steps - 1)));
      }
    }
  }
}



.tshape__mask {
  width: 800px;
  margin: 0 auto;
  @include clearfix;
  background: #EAEAEA;
  overflow-x: scroll;
}
.tshape--fixed {
  width: 600px;
  margin: 0 auto;
  @include clearfix;
  text-align:center;
  .tshape__header {
    text-align: center;
    margin-bottom: 100px;
  }
  .tshape__role {
    margin-bottom: 3px;
  }
  .tshape__user {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .tshape__middle {
    @include clearfix;
  }
  .tshape__skillset {
    float: left;
    width: 40px;
    margin-right: 0;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
  .tshape__skillset-heading {
    text-align: left;
    transform: rotate(270deg);
    width: 80px;
    transform-origin: left top 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
  .tshape__skill {
    width: 40px;
    height: 40px;
    background: green;
    margin-bottom: 0px;
    border: 1px solid #FFF;
  }
}